# Logs
logs
*.log

# Dependency directories
node_modules/
app/vendor

# App database and settings
*.db.json
.~*.db.json
conf.json
db.tar.gz

# Temporary ignores, will remove these eventually
test
Gruntfile.*.js

# Build folder and cache
build
cache
