<div class="details-wrapper">
  <form name="collectionsdetails">
    <div class="form-group" ng-class="{'has-error': collection.name===''}">
      <label for="name">Collection name</label>
      <span class="error" ng-show="collectionsdetails.name.$error.required">Required!</span>
      <input type="text" name="name" required class="form-control collectionname" ng-model="collection.name" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="folder">Folder</label>
      <input type="text" name="folder" readonly class="form-control collectionfolder" ng-model="collection.folders[0].path" placeholder="Click to select folder">
      <input type="file" nwdirectory class="folderselector hidden" nwworkingdir="{{collection.folders[0].path}}" />
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="collection.folders[0].recursive"> Include subfolders
      </label>
    </div>
    <div class="form-group">
      <label for="extensions">File extensions</label>
      <input type="text" name="extensions" class="form-control extensions" ng-list ng-model="collection.extensions" placeholder="Enter extensions separated by comma, like so: .mp4, .mkv, .avi">
    </div>
  </form>
</div>
