<div class="info hidden">Here you can manage your collections. Add, change, remove, or reorder them as you like.
The first collection on the listis the one that you will see when you open Moviestand.</div>

<button type="button" class="btn btn-primary addcollection" ng-click="newCollection()"><span class="glyphicon glyphicon-plus"></span> <span>Create new collection</span></button>
<!-- <button type="button" class="btn btn-danger disabled">-</button> -->

<div class="wrapper">
  <ul class="list">
    <li class="item" ng-repeat="collection in collections.query()" ui-sref-active="active">
      <a ui-sref="settings.collections.details({id: collection.id})" class="name">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
        <span> {{collection.name}}</span>
      </a>
      <span class="buttons">
        <!-- <button type="button" class="btn btn-default glyphicon glyphicon-pencil"></button> -->
        <button type="button" class="btn btn-danger glyphicon glyphicon-remove-circle" ng-click="removeCollection(collection)"></button>
      </span>
    </li>
  </ul>

  <div class="details" ui-view>
  </div>
</div>
