/* app css stylesheet */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  background: rgba(0,0,0,0);
}

body {
  background: rgba(0,0,0,0);
  /*padding: 5px;*/
}

div.view-container {
  position: absolute;
  top: 25px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;

  background: rgb(23, 24, 27);
  color: #cdcdcd;
  padding: 10px 0px 10px 10px;
}


/* Movie list: General */

.movies {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.movies .movie {
  /*height: 100%;*/
}

.movies li {
  /*padding-top: 0.5em;*/
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.movies .poster {
  /*height: 200px;*/
  float: left;
}

.movies .poster img {
  height: 200px;
  border-radius: 5px;
}

.movies .info {
  padding-top: 5px;
  /*padding-left: 143px;*/
}

.movies .title {
  /*font-weight: bold;*/
  color: rgb(255,255,255);
}

.movies .year {
  /*font-weight: bold;*/
  color: rgb(100,100,100);
}

.movie .options {
  visibility: hidden;
  list-style: none;
  float: right;
  position: relative;
  top: 0;
  width: 200px;
  height: 25px;
  text-align: right;
  font-size: 1.4em;
  margin: 5px 10px 0 0;
}

.movie .options li {
  clear: none;
  width: 25px;
  height: 25px;
}

.movie .options li:hover {
  cursor: pointer;
  color: blue;
}


/* Movie list: List view */

.movies.list li.movie-listing {
  clear: both;
  width: 100%;
  height: 200px;
  background-color: rgb(28, 29, 32);
}

.movies.list .info {
  margin-left: 143px;

}

.movies.list li.movie-listing:not(:last-child) {
  margin-bottom: 20px;
}

.movies.list .title {
  float: left;
  margin-right: 0.8em;
}

.movies.list .infoblock {
  font-size: 0.96em;
  padding-right: 10px;
}

.movies.list .tagline {
  font-style: italic;
  color: rgb(150,150,150);
}

.movies.list .overview {
  max-height: 80px;
  /*max-lines: 4;*/
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.movies.list .movie-listing:hover .options {
  visibility: visible;
}


/* Movie list: Grid view */

.movies.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-around;
}

.movies.grid li.movie-listing {
  clear: none;
  width: 133px;
  height: 260px;
  margin-right: 15px;
}

.movies.grid .poster {
  /*-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.75));
  float: none;
}

/*.movies.grid .poster:not(:last-child) {
  margin-right: 30px;
}*/

.movies.grid .poster img {
  -webkit-transition: all linear 0.1s;
  /*-webkit-filter: brightness(90%);*/
}

.movies.grid .poster:hover img {
  /*-webkit-box-shadow: inset 0px 0px 0px 5px rgba(81,187,214,1);*/
  -webkit-transform: scale(1.05);
  /*-webkit-filter: brightness(100%);*/
}

.movies.grid .movie-listing {
  float: left;
}

.movies.grid .info .infoblock {
  display: none;
}

.movies.grid .title {
  font-size: 0.9em;
  max-width: 133px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 15px;
  position: relative;
}

.movies.grid .year {
  font-size: 0.8em;
}

.movies.grid .options {
  display: none;
}





*::-webkit-scrollbar
{
	width: 9px;
	background-color: rgb(46, 47, 50);
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgb(46, 47, 50);
}

*::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(73, 74, 74);
}

*::-webkit-scrollbar-thumb:hover
{
  width: 10px;
	background-color: rgb(83, 84, 84);
}
