/* Custom */

.navbar-default {
  border: 0;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  top: 25px;
  z-index: 1;

  -webkit-app-region: drag;
  -webkit-user-select: none;
}

body.fullscreen .navbar-default {
  top: 0;
}
.navbar-collapse {
  border:0;
}

.navbar .container {
  margin-left: 0;
  width: auto;
  padding: 0;
}

.navbar .fullscreentoggle {
  position: absolute;
  display: none;
  top: 9px;
  left: 5px;
  color: rgb(129, 128, 122);
  font-size: 1.1em;
  -webkit-app-region: no-drag;
}

.navbar .fullscreentoggle:hover {
  cursor: pointer;
  color: rgb(79, 126, 171);
}

body.fullscreen .navbar .fullscreentoggle {
  display: inline-block;
}

body.fullscreen .navbar > .container {
  padding-left: 25px;
}

.navbar.navbar-sm {
  min-height: 35px;
  /*height: 35px;*/
  font-size: 0.9em;
  font-weight: 600;
}

.navbar.navbar-sm .navbar-brand {
  padding: 0px 12px;
  font-size: 0.8em;
  line-height: 35px;
}

.navbar.navbar-sm .navbar-nav {
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
}

.navbar.navbar-sm .navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 35px;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

.navbar .navbar-form .viewbuttons {
  padding-top: 2px;
}

.navbar.navbar-sm .navbar-toggle {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
}

.navbar.navbar-sm .navbar-form {
  margin: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}

.navbar.navbar-sm .navbar-form[role="search"] {
  /*width: 250px;*/
}

.navbar.navbar-sm .navbar-form .form-control {
  height: 26px;

  /*width: 0;*/
  /*-webkit-transition: width 1s ease-in-out;*/

  /*padding: 2px;
  line-height: 1;*/
}

.navbar.navbar-sm .navbar-form,
.navbar.navbar-sm .btn-group {
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar.navbar-sm .navbar-form .form-group {
  height: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.navbar.navbar-sm .navbar-form .form-control-feedback {
  line-height: 20px;
}

.navbar.navbar-sm .navbar-form .form-control.searchbox {
  height: 20px;
  padding-right: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: normal;
}

.navbar.navbar-sm .navbar-form .btn-group {
  /*padding-top: 1px;
  padding-bottom: 1px;*/
}

.navbar.navbar-sm .navbar-form .btn {
  padding: 2px 5px 2px 5px;
}

.navbar .navbar-nav > li > a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.navbar .navbar-nav > li.active {
  border-bottom: 3px solid rgba(22, 114, 171, 0.75);
  box-sizing: border-box;
  height: 35px;
}

.navbar .navbar-nav > li:not(.active):hover,
.navbar .navbar-nav > li:not(.active) a:hover {
  background-color: rgb(46, 47, 50);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.navbar .navbar-nav > li.active:hover,
.navbar .navbar-nav > li.active a:hover {
  background-color: rgb(16, 17, 18) !important;
}

.navbar .navbar-nav > li.active,
.navbar .navbar-nav > li.active > a {
  line-height: 32px;
  /*background-color: rgb(60, 61, 63);*/
  background-color: rgb(16, 17, 18) !important;
}

.navbar .countbybadge {
  display: inline-block;
  min-width: 35px;
  text-align: right;
}

.navbar .badge {
  color: rgba(23,24,27,1);
}

.navbar .dropdown-menu .active a {
  background-color: rgba(22, 114, 171, 0.75);
}

/*Generated from http://work.smarchal.com/twbscolor/css/17181b515151ecf0f1cdcdcd1 */

.navbar-default {
  background-color: rgba(23,24,27,1);
  border-color: #515151;
}
.navbar-default .navbar-brand {
  color: #cdcdcd;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #cdcdcd;
}
.navbar-default .navbar-text {
  color: #cdcdcd;
}
.navbar-default .navbar-nav > li > a {
  color: #cdcdcd;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #cdcdcd;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: rgba(23,24,27,1);
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #cdcdcd;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #cdcdcd;
  background-color: #515151;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: rgba(23,24,27,1);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #cdcdcd;
  background-color: #515151;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #cdcdcd;
  background-color: #515151;
}
.navbar-default .navbar-toggle {
  border-color: #515151;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #515151;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #cdcdcd;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #cdcdcd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #cdcdcd;
    background-color: #515151;
  }
}
