.settings-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  /*background-color:red;*/
  /*height: 100%;*/
  color: #cdcdcd;
  font-size: 0.9em;
  background-color: rgb(28, 29, 32);
  overflow: auto;
}


/****** MENU ******/

.settings-container .menu {
  /*display: inline-block;*/
  position: absolute;
  left: 0;
  padding-top: 10px;
  width: 200px;
  height: 100%;
  border-right: 1px solid rgb(20, 20, 20);
  background-color: rgb(32, 33, 36);
}

.settings-container .menu .list,
.settings-container .menu .list * {
  margin: 0;
  padding: 0;
}

.settings-container .menu .list .item {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  width: 100%;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #ababab;
}

.settings-container .menu .list .item.active {
  background-color: rgba(22, 114, 171, 0.75);
  color: #efefef;
}

.settings-container .menu .list .item:not(.active):hover {
  background-color: rgb(46, 47, 50);
  color: #dedede;
}

.settings-container .menu .list .item.disabled {
  cursor: not-allowed;
}

.settings-container .menu .list .item .glyphicon {
  margin-top: -3px;
  margin-right: 8px;
}


/****** CONTENT ******/

.settings-container > .content {
  display: block;
  position: absolute;
  left: 200px;
  right: 0;
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.settings-container > .content > .info {
  width: 100%;
  /*background: */
  margin-bottom: 20px;
}

.settings-container > .content .btn-primary {
  background-color: #436D91;
  border-color: #3B5D7A;
  font-size: 0.95em;
}

.settings-container > .content .btn-primary:hover {
  background-color: #2D6EA6;
}

.settings-container > .content > .wrapper {
  position: relative;
  width: 100%;
  margin: 0px auto;
}

.settings-container > .content > .wrapper > .list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
  background-color: rgb(32, 33, 36);
}

.settings-container > .content > .wrapper > .details {
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 250px;
}

.settings-container > .content .list {
}

.settings-container > .content .list .item {
  line-height: 40px;
  height: 41px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;

  border-top: 1px solid rgb(50,50,50);
  border-left: 1px solid rgb(50,50,50);
  border-right: 1px solid rgb(50,50,50);
}

.settings-container > .content .list .item:last-child {
  border-bottom: 1px solid rgb(50,50,50);
  height: 42px;
}

.settings-container > .content .list .item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.settings-container > .content .list .item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.settings-container > .content .list .item:not(.active):hover {
  background-color: rgb(46, 47, 50);
  cursor: move;
}

.settings-container > .content .list .item.active {
  background-color: rgba(22, 114, 171, 0.75);
  color: #efefef;
}

.settings-container > .content .list .item .name {
  text-decoration: none;
  color: inherit;
  width: 100%;
  padding-left: 10px;
}

.settings-container > .content .list .item .buttons {
  display: none;
  position: absolute;
  left: 203px;
}

.settings-container > .content .list .item:hover .buttons {
  display: inline;
}

.settings-container > .content .list .item .buttons button {
  line-height: 0.8em;
  padding: 6px;
  top: 0;
}

.settings-container > .content > .wrapper > .details > .details-wrapper {
  /*background-color:*/
  border-radius: 5px;
  border: 1px solid rgb(50,50,50);
  padding: 10px;
}
