<div class="details-container">
  <img class="background-loader" ng-src="http://image.tmdb.org/t/p/w780{{movieInfo.backdrop_path}}" data-hash="{{movieHash}}"></img>

  <div class="backdrop" id="backdrop-{{movieHash}}"></div>

  <div class="content">
    <div class="left">
      <div class="postercontainer">
        <img class="poster img-responsive" ng-src="http://image.tmdb.org/t/p/w342{{movieInfo.poster_path}}">
      </div>
    </div>
    <div class="right">
      <div class="rightcontainer">
        <div class="close glyphicon glyphicon-remove" ng-click="goback()"></div>
        <h1 class="title">{{movieInfo.title}}</h1>
        <ul class="info">
          <li>{{movieInfo.release_date | date:'yyyy'}}</li>
          <li>{{movieInfo.runtime}} min</li>
          <li>{{genres()}}</li>
          <li ng-if="movieInfo.imdb_id"><span ng-click="gotoimdb()" class="imdb" title="Go to imdb.com"></span></li>
          <li title="{{movieInfo.vote_average}}/10" star-rating star-rating-value="movieInfo.vote_average/2" star-rating-max="5"></li>
        </ul>
        <div class="controls">

          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm" ng-click="play(true)">
              <span class="glyphicon glyphicon-play"> Play</span>
            </button>
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="play(true)">Internally</a></li>
              <li><a href="" ng-click="play()">Default player</a></li>
            </ul>
          </div>

          <div ng-if="movieInfo.trailers.youtube.length > 0" class="btn-group">
            <button type="button" class="btn btn-primary btn-sm" ng-click="watchtrailer()">
              <span aria-hidden="true" class="glyphicon glyphicon-film"> Watch trailer</span>
            </button>
            <button ng-if="movieInfo.trailers.youtube.length > 1" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul ng-if="movieInfo.trailers.youtube.length > 1" class="dropdown-menu" role="menu">
              <li ng-repeat="trailer in movieInfo.trailers.youtube">
                <a href="" ng-click="watchtrailer(trailer.source)">{{trailer.name}} ({{trailer.size}})</a>
              </li>
            </ul>
          </div>

          <button type="button" class="btn btn-primary btn-sm" ng-click="open()">
            <span aria-hidden="true" class="glyphicon glyphicon-folder-open"> Show folder</span>
          </button>

        </div>

        <div class="detailtext">
          <p class="tagline">{{movieInfo.tagline}}</p>
          <p class="overview">{{movieInfo.overview}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="videoembed embed-responsive embed-responsive-16by9"> -->
  <div class="videoembed">
    <div class="close glyphicon glyphicon-remove" ng-click="closevideo()"></div>
  </div>
</div>
