<div class="details-container">
  <img class="img-loader" ng-src="http://image.tmdb.org/t/p/w780{{movieInfo.backdrop_path}}"></img>

  <div class="backdrop"></div>

  <div class="content">
    <div class="" style="position:relative; width: 10%; min-width:30px"></div>
    <div class="left">
      <div class="postercontainer">
        <img class="poster img-responsive" ng-src="http://image.tmdb.org/t/p/w342{{movieInfo.poster_path}}">
      </div>
    </div>
    <div class="right">
      <h1 class="title">{{movieInfo.title}}</h1>
      <ul class="info">
        <li>{{movieInfo.release_date | date:'yyyy'}}</li>
        <li>{{movieInfo.runtime}} min</li>
        <li>{{genres()}}</li>
        <li data-toggle="tooltip" data-placement="right" title="{{movieInfo.vote_average}}/10">
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
        </li>
      </ul>
      <div class="controls">
        <button type="button" class="btn btn-primary" ng-click="play()">
          <span aria-hidden="true" class="glyphicon glyphicon-play-circle"> Play</span>
        </button>

        <div ng-if="movieInfo.trailers.youtube" class="btn-group">
          <button type="button" class="btn btn-primary" ng-click="watchtrailer()">
            <span aria-hidden="true" class="glyphicon glyphicon-film"> Watch trailer</span>
          </button>
          <button ng-if="movieInfo.trailers.youtube.length > 1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul ng-if="movieInfo.trailers.youtube.length > 1" class="dropdown-menu" role="menu">
            <li ng-repeat="trailer in movieInfo.trailers.youtube">
              <a href="" ng-click="watchtrailer(trailer.source)">{{trailer.name}} ({{trailer.size}})</a>
            </li>
          </ul>
        </div>
      </div>
      <p class="tagline">{{movieInfo.tagline}}</p>
      <p class="overview">{{movieInfo.overview}}</p>
    </div>
  </div>

  <div class="trailerembed embed-responsive embed-responsive-16by9">
    <div class="close glyphicon glyphicon-remove" ng-click="closetrailer()"></div>
    <!-- <iframe id="ytplayer" class="embed-responsive-item" width="100%" height="100%" frameborder="0" type="text/html"></iframe> -->
    <!-- <div id="ytplayer"></div> -->
    <!-- <video id="ytplayer" src="" class="video-js vjs-default-skin" controls autoplay preload="auto" width="100%" height="100%"></video> -->
  </div>
</div>
