<div>
  <!-- <div class="row"> -->
    <!-- <div class="col-md-2">

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="fileName">Alphabetical</option>
        <option value="path">Path</option>
      </select>

    </div> -->
    <!-- <div class="col-md-10"> -->
      <!--Body content-->

      <ul class="movies" ng-class="view.mode">
        <li ng-repeat="movie in movies | filter:query | orderBy:orderProp track by movie.path" class="movie-listing">
          <div class="movie">

            <ul class="options">
              <li class="glyphicon glyphicon-play-circle" title="Play" ng-click="play(movie)"></li>
              <li class="glyphicon glyphicon-info-sign" title="Show details" ng-click="info(movie)"></li>
              <li class="glyphicon glyphicon-ban-circle" title="Hide from list" ng-click="hide(movie)"></li>
              <li class="glyphicon glyphicon-eye-open" title="Mark as watched" ng-click="play(movie)"></li>
            </ul>


            <div class="poster">
              <a ng-if="(dbinfo = tmdb.find({id: movie.tmdbid}))" href="#/movie/{{movie.fileName}}">
                <img ng-src="http://image.tmdb.org/t/p/w185{{dbinfo.poster_path}}">
              </a>
              <img ng-hide="dbinfo" ng-src="img/poster-placeholder.png">
            </div>

            <div class="info">

              <div ng-if="dbinfo">
                <div class="titleblock">
                  <div class="title">{{dbinfo.title}}</div>
                  <div class="year">({{dbinfo.release_date | date:'yyyy'}})</div>
                </div>
                <div class="infoblock">
                  <div class="tagline">{{dbinfo.tagline}}</div>
                  <p>
                    <div>{{dbinfo.runtime}} min - {{genres(dbinfo)}}</div>
                    <div>{{countries(dbinfo)}}</div>
                  </p>
                  <p>
                    <div class="overview">{{dbinfo.overview}}</div>
                  </p>
                </div>
              </div>

              <div ng-hide="dbinfo">
                <div class="titleblock">
                  <div class="title">{{movie.fileName}}</div>
                  <div class="year">-</div>
                </div>
                <div class="infoblock">
                  <div>Loading information...</div>
                </div>
              </div>

            </div>

          </div>
        </li>
      </ul>

    <!-- </div> -->
  <!-- </div> -->
</div>
