<div class="list-container">
  <!--
    Search: <input ng-model="query">
    Sort by:
    <select ng-model="orderProp">
      <option value="fileName">Alphabetical</option>
      <option value="path">Path</option>
    </select>

  -->

  <!-- <button class="btn btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
      Previous
  </button>
  {{currentPage+1}}/{{numberOfPages()}}
  <button class="btn btn-primary" ng-disabled="currentPage >= movies.length/pageSize - 1" ng-click="currentPage=currentPage+1">
      Next
  </button> -->

  <ul class="movies" ng-class="view.mode">
    <!-- <li ng-repeat="movie in movies | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy:orderProp track by movie.path" class="movie-listing"> -->
    <li ng-repeat="movie in movies | filter:{ title:filter.query } | movieFilter:filter.genre:filter.country | orderBy:orderProp track by movie.path" class="movie-listing">

      <div class="movie">

        <ul class="options">
          <li class="glyphicon glyphicon-play-circle play" title="Play" ng-click="play(movie)"></li>
          <li class="glyphicon glyphicon-info-sign details" title="Show details" ng-click="info(movie)"></li>
          <li class="glyphicon glyphicon-ban-circle markhide" title="Hide from list" ng-click="hide(movie)"></li>
          <li class="glyphicon glyphicon-eye-open markwatched" title="Mark as watched" ng-click="watched(movie)"></li>
        </ul>

        <div class="poster">
          <a ng-if="movie.poster_path" href="#/movie/{{movie.fileName}}">
            <img ng-src="http://image.tmdb.org/t/p/w130{{movie.poster_path}}">
          </a>
          <img ng-if="!movie.poster_path" ng-src="img/poster-placeholder.png">
        </div>

        <div class="info">

          <div ng-if="movie.title">
            <div class="titleblock">
              <div class="title">{{movie.title}}</div>
              <div class="year">({{movie.release_date | date:'yyyy'}})</div>
            </div>
            <div class="infoblock">
              <div class="tagline">{{movie.tagline}}</div>
              <p>
                <div>{{movie.runtime}} min - {{genres(movie)}}</div>
                <div>{{countries(movie)}}</div>
              </p>
              <p>
                <div class="overview">{{movie.overview}}</div>
              </p>
            </div>
          </div>

          <div ng-if="!movie.title">
            <div class="titleblock">
              <div class="title">{{movie.fileName}}</div>
              <div class="year">-</div>
            </div>
            <div class="infoblock">
              <div>Loading information...</div>
            </div>
          </div>

        </div>

      </div>
    </li>

    <!--
      Ugly hack to snap the last row to the grid.
      Otherwise, the elements in that row take 100% of the available width.
    //-->
    <li class="lastrowtogrid" ng-repeat="n in [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0] track by $index" class="movie-listing"></li>
  </ul>
</div>
